<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">-->
	<!-- Correct method for importing a stylesheet. Make a folder static/css/main.css-->
</head>
<body>

	<header>
		<div class="container">
			<div id="brandname">
			<p>Detect lane lines</p>
			</div>
			<p>Flask Application</p>
		</div>
	</header>

	<div class="ml-container">

		<form id="myform" action="{{ url_for('predict')}}" method="POST">
		
		<br/>

		<input type="submit" class="btn-info" value="Predict">
		</form>
		
	</div>

	
	

</body>
</html>
